<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ScareSpace</title>
  </head>
  <body>
    <% require 'sinatra/flash' %>

    <h2>
      <%= flash[:notice] %>
    </h2>
    <h1>Welcome to ScareSpace</h1>
    <% if @user %>
    User: <%= @user.email %>
    <% end %>
    <% if !@user %>
      <form action="/signup" method="get">
        <input type="submit" value="Sign Up">
      </form>
      <form action="/login" method="get">
        <input type="submit" value="Log In">
      </form>
    <% end %>
    <% if @user %>
      <form action="/spaces" method="get">
        <input type="submit" value="Create new space">
      </form>
    <% end %>
    <% if @user %>
      <form action="/requests" method="get">
        <input type="submit" value="Request Update">
      </form>
      <form action="/logout" method="post">
        <input type="submit" value="Log Out">
      </form>
    <% end %>

    <div id="space_list">
  
      <% @spaces_list.map do |space|%>
      <ul id="<%= space.id %>">

        <li>Space name: <%= space.name %></li>
        <li>Address: <%= space.address%>
        <li>Price: <%= space.price %>
        <li>Description: <%= space.description%> </li>
      
        <% if @user %>
        <form action="/send_request" method="post">
          <input type="submit" value="Book">
        </form>

        <% else %>
        <form action="/signup" method="get">
          <input type="submit" value="Book">
        </form>


        <% end %>

      </ul>
       
      <% end %>
  
    </div>
  </body>
</html>
